<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cur Links</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
      <div class="flex-container__BaseSp" id="MediaData">
          <span v-cloak>
          <br>
        <div class="flex-container_1" v-for="link in linkdata">
          <div v-if="link.WhatsAppLinks">
            <a v-bind:href="link.WhatsAppLinks" target="_blank">
          <div class="flex-container_SpCard">
            <div class="flex-item_SpText" >
            <h2><h2a> {{ link.Name }} {{ link.PhoneNumber }} </h2a></h2>
            </div>
          </div>
            </a>
        </div>
          <br>
        </div>
        </span>
      </div>
  </body>  
  <script src="https://unpkg.com/vue"></script>
  <script  language="JavaScript"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="vueCommon.js"></script>
</html>
